<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>编辑用户</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
	
	input {
		text-align: center;
	}
</style>
</head>
<body>
		<div id="header">
			<img class="logo_img" alt="" src="/static/img/HEU.jpg" >
			<span class="wel_word">编辑用户</span>
			<div>
				<a href="/getPageBooks">图书管理</a>
				<a href="/main">返回商城</a>
			</div>
		</div>
		
		<div id="main">
			<form action="/updateOrAddUser" method="POST">
				
				<table>
					<tr>
						<td>用户ID</td>
						<td>用户名</td>
						<td>用户密码</td>
						<td>用户角色</td>
						<td colspan="2">操作</td>
					</tr>		
					<tr>
					{{if .User}}
						<td><input name="userid" type="text" value="{{.User.UserId}}"/></td>
						<td><input name="username" type="text" value="{{.User.UserName}}"/></td>
						<td><input name="userpwd" type="text" value="{{.User.UserPwd}}"/></td>
						<td><input name="userrole" type="text" value="{{.User.UserRole}}"/></td>
					{{else}}
						<td><input name="userid" type="text"/></td>
						<td><input name="username" type="text"/></td>
						<td><input name="userpwd" type="text"/></td>
						<td><input name="userrole" type="text"/></td>
					{{end}}
						<td><input type="submit" value="提交"/></td>
					</tr>		
				</table>
			</form>
			
	
		</div>
		
		<div id="bottom">
			<span>
				尚硅谷书城.Copyright &copy;2015
			</span>
		</div>
</body>
</html>