<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>编辑未通过论文信息</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
	
	input {
		text-align: center;
	}
</style>
</head>
<body>
		<div id="header">
			<img class="logo_img" alt="" src="/static/img/HEU.jpg" >
			<span class="wel_word">学位论文管理系统</span>
			<div>
				<a href="/failedPapers">未通过论文信息</a>
				<a href="/main">主页</a>
			</div>
		</div>
		
		<div id="main">
			<form action="/updateFailedPaper" method="POST">
				
				<table>
					<tr>
						<td>论文编号</td>
						<td>未通过原因</td>
						<td>意见建议</td>
						<td colspan="2">操作</td>
					</tr>		
					<tr>
						<td>{{.FP.PaperId}}</td>
						<input name="paperid" type="hidden" value="{{.FP.PaperId}}"/>
						<td><input name="reason" type="text" value="{{.Paper.PaperName}}"/></td>
						<td><input name="suggestions" type="text" value="{{.Paper.PaperAuthor}}"/></td>
						<td><input type="submit" value="提交"/></td>
					</tr>		
				</table>
			</form>
		</div>
		
		<div id="bottom">
			<span>
				Liu.Copyright &copy;2020
			</span>
		</div>
</body>
</html>