<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>图书管理</title>
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
	<script src="/static/js/jquery-1.7.2.js"></script>
	<script>
		$(function(){
			//给删除论文的超链接绑定单击事件
			$(".deletePaper").click(function(){
				var title = $(this).attr("id");
				return confirm("确定要删除【"+title+"】这一论文信息吗？");
			});
			if("{{.err}}" === "不能修改其他人的论文信息"){
				return confirm("不能修改其他毕业生的论文信息！")
			}
		});
	</script>
</head>
<body>

<div id="header">
	<img class="logo_img" alt="" src="/static/img/HEU.jpg" >
	<span class="wel_word">学位论文管理系统</span>
	<div>
		<a href="/failedPapers">未通过论文信息</a>
		<a href="/main">返回主页</a>
	</div>
</div>

<form action="/getPagePapers" method="POST">
	<input type="text" width="150px" placeholder="根据论文名或者作者学号搜索" name="searchstr" />
	<button>搜索</button>
</form>

<div id="main">

	<table>
		<tr>
			<td>编号</td>
			<td>名称</td>
			<td>作者</td>
			<td>评分</td>
			<td>版本</td>
			<td>摘要</td>
			{{if .IsNormal}}

			{{else}}
				<td colspan="2">操作</td>
			{{end}}
		</tr>
		{{if .IsAdmin}}
			<!-- 管理员用户 -->
			{{range .Page.Papers}}
				<tr>
					<td>{{.PaperId}}</td>
					{{if .HasFile}}
						<td><a href="/downloadPaper?paperid={{.PaperId}}">{{.PaperName}}</a></td>
					{{else}}
						<td>{{.PaperName}}</td>
					{{end}}
					<td><a href="/getGraPaperInfo?graduateid={{.PaperAuthor}}">{{.PaperAuthor}}</a></td>
					<td>{{.PaperGrade}}</td>
					<td>{{.PaperVersion}}</td>
					<td>{{.PaperDigest}}</td>
					<td><a class="updatePaper" href="/updateOrAddPaper?paperid={{.PaperId}}">修改</a></td>
					<td><a id="{{.PaperName}}" class="deletePaper" href="/deletePaper?paperid={{.PaperId}}">删除</a></td>
				</tr>
			{{end}}
		{{else if .IsNormal}}
			<!-- 普通用户 -->
			{{range .Page.Papers}}
				<tr>
					<td>{{.PaperId}}</td>
					{{if .HasFile}}
						<td><a href="/downloadPaper?paperid={{.PaperId}}">{{.PaperName}}</a></td>
					{{else}}
						<td>{{.PaperName}}</td>
					{{end}}
					<td>{{.PaperAuthor}}</td>
					<td>{{.PaperGrade}}</td>
					<td>{{.PaperVersion}}</td>
					<td>{{.PaperDigest}}</td>
				</tr>
			{{end}}
		{{else}}
			<!-- 学生以及导师用户 -->
			{{range .Page.Papers}}
				<tr>
					<td>{{.PaperId}}</td>
					{{if .HasFile}}
						<td><a href="/downloadPaper?paperid={{.PaperId}}">{{.PaperName}}</a></td>
					{{else}}
						<td>{{.PaperName}}</td>
					{{end}}
					<td>{{.PaperAuthor}}</td>
					<td>{{.PaperGrade}}</td>
					<td>{{.PaperVersion}}</td>
					<td>{{.PaperDigest}}</td>
					<td><a class="updatePaper" href="/updateOrAddPaper?paperid={{.PaperId}}">修改</a></td>
				</tr>
			{{end}}
		{{end}}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			{{if .IsAdmin}}
			<td><a href="/updateOrAddPaper">添加论文信息</a></td>
			{{end}}
		</tr>
	</table>
	<div id="page_nav">
		{{if .Page.IsHasPrev}}
			<a href="/getPagePapers">首页</a>
			<a href="/getPagePapers?pageNo={{.Page.GetPrevPageNo}}&searchstr={{.SearchStr}}">上一页</a>
		{{end}}
		当前是第{{.Page.PageNo}}页，共{{.Page.TotalPageNo}}页，共{{.Page.TotalRecord}}条记录
		{{if .Page.IsHasNext}}
			<a href="/getPagePapers?pageNo={{.Page.GetNextPageNo}}&searchstr={{.SearchStr}}">下一页</a>
			<a href="/getPagePapers?pageNo={{.Page.TotalPageNo}}&searchstr={{.SearchStr}}">末页</a>
		{{end}}
		到第<input value="{{.Page.PageNo}}" name="pn" id="pn_input"/>页
		<input type="button" value="确定" id="sub">
		<script>
			//给确定按钮绑定单击事件
			$("#sub").click(function(){
				//获取输入的页码
				var pageNo = $("#pn_input").val();
				location = "/getPagePapers?pageNo="+pageNo+"&searchstr={{.SearchStr}}"
			});
		</script>
	</div>
</div>

<div id="bottom">
		<span>
			Liu.Copyright &copy;2020
		</span>
</div>
</body>
</html>